body{
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    background-color: black;
}
a {text-decoration: none;}
fieldset{
    margin-bottom: 3%;
}
.button{
    font-size: 28px;
    width: 8%;
    border-radius: 15%;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}
.button a{
    color: white;
}
@media screen and (max-width : 425px){
    .button{
        width: 30%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    .button{
        width: 12%;
    }
}
