body{
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    background-color: black;
}
a {text-decoration: none;}
div{
    margin-bottom: 3%;
}
.button{
    font-size: 28px;
    margin-left: 46%;
    width: 8%;
    border-radius: 15%;
    background-color: blue;
}
.button a{
    color: white;
}