body{
    background-color: #224A5F;
    display: flex;
    flex-wrap: wrap;
}
.poster{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a {text-decoration: none;}
h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: gold;
    width: 100%;
    font-size: 50px;
    border: solid 10px;
    background-color: rgb(18, 104, 175);
    border-radius: 10px;
    border-color: white;
}
img{
    margin-top: 10%;
    border: solid 30px;
    border-color: gold;
}
.inicio{
    display: flex;
    height: 20%;
    font-family: 'Anton', sans-serif;
    color: white;
    border: solid 5px;
    border-radius: 10%;
    background-color: teal;
    font-size: 20px;
}
.inicio a{
    color: white;
}
@media screen and (max-width : 425px){
    .inicio{
        display: flex;
    }
    .poster{
        justify-content: center;
    }
    .poster img{
        width: 50%;
        margin-left: 3em;
    }

}