body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #224A5F;
    margin: 0px;
    font-family: 'Dela Gothic One', cursive;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3A86AC;
}
a {text-decoration: none;}
.right-column a{
    font-family: 'Orbitron', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
}
ul{
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
li{
    list-style: none;
    display: block;
    display: inline-block;
}
.box{
    display: flex;
	text-align: center;
}
.search{
    width: 40%;
}
.button{
    width: 100%;
}
.first-column{
    display: flex;
    justify-content: center;
    width: 10%;
}
.medium-column{
    display: flex;
    width: 20%;
    height: 2em;
}
.right-column{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.right-column ul{
    width: 50%;
    margin-top: 1px;
}

.search input{
    display: block;
    width: 100%;
    margin-top: 4px;
}
.first-column{
    display: flex;
}
.first-column a{
    font-family: 'Orbitron', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
}
.medium-column a{
    background-color: #224A5F;
    color: white;
    border: solid 3px;
    border-color: white;
}
.deslogeo a{
    color: black;
    background-color: white;
    margin-top: 10%;
    border: solid;
    border-radius: 11%;
    width: 46%;
}
img{
    margin-top: 1em;
    border: solid 3px;
    border-color: white;
}
h1{
    margin-top: 0%;
    padding-top: 50px;
    color: white;
}
h2{
    height: 3em;
    margin-top: 6%;
    border: solid 3px;
    border-color: white;
    background-color: turquoise;
    font-size: 50px;
}
.box{
    flex-direction: column;
}
@media screen and (max-width : 425px){
    .nav{
        width: 100%;
        display: flex;
    }
    .first-column{
        width: 8em;
    }
    .medium-column{
        width: 80%;
    }
    .right-column ul{
        display: none;
    }
    .box{
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .deslogeo{
        background-color: #224A5F;
        width: 20%;
    }
    h1{
        display: none;
    }
}
@media screen and (max-width : 375px){
    .nav{
        width: 100%;
        display: flex;
    }
    .first-column{
        width: 8em;
    }
    .medium-column{
        width: 80%;
    }
    .right-column ul{
        display: none;
    }
    .box{  
        margin-left: 8em;
    }
    .deslogeo{
        background-color: #224A5F;
        width: 20%;
    }
    h1{
        display: none;
    }
}
