body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #224A5F;
    margin: 0px;
    font-family: 'Dela Gothic One', cursive;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3A86AC;
}
a {text-decoration: none;}
.right-column a{
    font-family: 'Orbitron', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
}
ul{
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
li{
    list-style: none;
    display: block;
    display: inline-block;
}
.box{
    display: flex;
	text-align: center;
}
.search{
    width: 40%;
}
.button{
    width: 100%;
}
.first-column{
    display: flex;
    justify-content: center;
    width: 10%;
}
.medium-column{
    display: flex;
    width: 20%;
    height: 2em;
}
.right-column{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.right-column ul{
    width: 50%;
    margin-top: 1px;
}

.search input{
    display: block;
    width: 100%;
    margin-top: 4px;
}
.first-column{
    display: flex;
}
.first-column a{
    font-family: 'Orbitron', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
}
.medium-column a{
    background-color: #224A5F;
    color: white;
    border: solid 3px;
    border-color: white;
}
.deslogeo a{
    color: black;
    background-color: white;
    margin-top: 10%;
    border: solid;
    border-radius: 11%;
    width: 46%;
}
.seconddeslogeo a{
    color: black;
    background-color: white;
    margin-top: 10%;
    border: solid;
    border-radius: 11%;
    width: 46%;
    display: none;
}
.box{
    display: flex;
    justify-content: center;
    border: solid 3px;
    border-radius: 15%;
    background-color: #639cbd;
    border-color: white;
    margin-top: 1em;
}
.box img{
    width: 20%;
    border: solid;
    border-radius: 65%;
    display: inline;
    margin-top: 1%;
}
.box p{
    display: inline;
}
.cartelera{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}
.cartelera h1{
    width: 100%;
    color: rgb(163, 143, 29);
    text-align: center;
    margin-top: 1px;
    padding-top: 3%;
    border: solid;
    background-color:#247585;
}
.container{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    width: 100%;
}
.container a{
    width: 20%;
}
.container img{
    width: 100%;
    height: 20em;
}
.table{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.table table{
    border: solid;
    border-color: white;
    border-radius: 20px;
    background-color: rgb(87, 206, 206);
}
.table th{  
    border-bottom: solid;
    border-color: white;
    border-radius: 20px;
}
.table td{
    border-bottom: solid;
    border-color: white;
    border-radius: 20px;
}
@media screen and (max-width : 425px){
    .nav{
        width: 100%;
        display: flex;
    }
    .first-column{
        width: 8em;
    }
    .medium-column input{
        width: 11em;
    }
    .right-column ul{
        display: none;
    }
    .deslogeo{
        display: none;
    }
    .seconddeslogeo a{
        display: flex;
        width: 95%;
    }
    .table{
        font-size: 60%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .container a{
        width: 45%;
    }
}    