body{
    font-family: 'Bebas Neue', cursive;
    color: #0095ff;
    text-align: center;
    background-color: #2f2f2e;
    margin-top: 7%;
    font-size: 2em;
}
h1{
    width: 100%;
}
h2{
    width: 100%;
}
