body{
    background-color: hsl(201, 47%, 25%);;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a {text-decoration: none;}
a{
    font-family: 'Anton', sans-serif;
    color: white;
    border: solid 5px;
    border-radius: 10%;
    background-color: teal;
    font-size: 20px;
    height: 1em;
}
.fondo{
    background: #588484;
    padding: 20px;
    width: 40%;
    text-align: center;
    font-size: 37px;

}
.fondo fieldset{
      padding-top: 1em;
}
.fondo a{
    background-color: rgb(14, 150, 44);
}
@media screen and (max-width : 425px){
    .fondo{
        width: 100%;
    }
}


